<!DOCTYPE html>
<html>
<head>
<title>Notifications Portal | <%= yield :title %></title>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
</head>
<body style="white" >
<div id="wrapper">


	<%= render "shared/navbar"%>

	<div id="page-wrapper">
		<div class="container">
			<div class="jumbotron" >
				<h1>rrr</h1>
			</div>

		</div>
		<div class="main container">

		    <% flash.each do |key, value| %>
		        <div class="alert alert-<%= key %>"><%= value %></div>
		    <% end %>

		    <%= yield %>
		</div>
	</div>

</div>
</html>
